/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    
}

img {
  height: auto;
  max-width: 400px;
  width: 100%;
  vertical-align: middle;
}

.btn-div {
  
 
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.btn{
	
	color: #649bc7;
    font-size: 14px;
    text-transform: none;
    border-radius: 4px;
    font-weight: 700;
    display: block;
    cursor: pointer;
    border: 1px solid #649bc7;
    background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  color: #000000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

#desktopContent {display: block;}
#cartBtn {display: none;}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

	#desktopContent {display: none;}
	#cartBtn {display: block;}
	
	

}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  border: 0.5px solid #e0d6d6;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #efefef 40%, #efefef 100%);
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.card_image {
	text-align: center
	background-color: #fff;
    padding: 2rem;
    border-radius: 0.3rem;
    text-align: center;
    margin: 1rem;
    
}
.display-price{
	text-decoration-line: line-through;
    text-decoration-style: solid;
    font-weight: 400;
	
}
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.columnLeft {
  flex: 70%;
  padding: 10px;
 
}
.columnRight {
  flex: 30%;
  padding: 10px;
 
}

.discount {
	
	background: limegreen;
    width: 70px;
    color: #ffff;
    /* padding-left: 10px; */
    text-align: center;
    padding-top: 5px;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 700;
}

.table-div {
	display: flex;
     margin: 0;
	padding: 0;
}
.table {
  background: #ffffff;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.8em;
}
.layout-inline > * {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.th {
  background: #f9f6f6;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  justify-content:space-between;
  padding-left: 5px;
  padding-top:10px;
  border-radius: 0.25rem;
  border: 0.2px solid #e0d6d6;
  border-left-style: none;
  border-right-style: none;
}
.tf {
  background: #ffffff;
  border:1px solid #b1b1b1;
}

.tf p {
  color: #000;
  font-weight: bold;
}

.col {
  padding: 1em;

}

.col-pro {
  width: 17%;
}

.col-pro > * {
  vertical-align: middle;
}

.col-qty {
  text-align: center;
  width: 40%;
}

.col-numeric p {
  font: bold 0.8em helvetica;
}

.col-total p {
  color: #12c8b1;
}

.tf div {
  padding: 3px;
}
.row-table {
	justify-content: space-between;
	display:flex;
	
}
.row > div {
  vertical-align: middle;
}

.row-bg2 {
  background: #f7f7f7;
}

.visibility-cart {
  position: absolute;
  color: #fff;
  top: 0.5em;
  right: 0.5em;
  font:  bold 2em arial;
  border: 0.16em solid #fff;
  border-radius: 2.5em;
  padding: 0 0.22em 0 0.25em ;
}

.col-qty > * {
  vertical-align: middle; 
}

.col-qty > input {
  max-width: 2.6em;
}


a.qty {
  width: 1em;
  line-height: 1em;
  border-radius: 2em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background: #43ace3;  
  color: #fff;
}

a.qty:hover {
  background: #3b9ac6;
}
.msg{
	text-align: center;
    width: 90%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.headerDiv{
	display:inline-flex;
	width:100%;
	padding-left: 5px;
	padding-top:10px;
    border-radius: 0.25rem;
    border: 0.2px solid #e0d6d6;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left-style: none;
    border-right-style: none;
}
.msgSpan{
	background: limegreen;
	color: white;
	font-weight : 700;
	padding: 5px;
	
}
.orderTotal
{
	background: #b1b1b1;
}
.imgplus{
	
	width: 10px;
    height: 10px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: limegreen;
  color: white;
  font-weight : 700;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 300px;
  background:#fff;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.hide {display: none;}
.dropdown:hover {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dd-img{
	height: 30px;
	width: 30px;
	
}

.headerDiv-2{
	
	width:100%;
	justify-Content:space-between;
	display:flex;
}

.close {
  font-size: xxx-large;
}

.close:hover {background: #bbb;}

.closeDiv{
	display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}



