
* {
  /* border: 1px solid red; */
  /* -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

html,
body {
  height: 100%;
}
.container {
    display: flex;
    flex-direction: row;
}
.user {
    background-color: #fff;
    padding: 2rem;
    border: solid 1px #ccd0d4;
    border-radius: 0.3rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
}

.container img {
    
    padding: 1rem;
    background-color: #f4f4f4;
	width:200px;
	height:200px;
}

